body {
  min-height: 100vh;
  margin: 0; }

.wrapper main {
  display: grid;
  grid-template-rows: 50vh 25vh 25vh 25vh;
  height: 100%; }

header {
  background-color: aquamarine;
  height: 15vh;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 80%;
  position: sticky;
  top: 0; }
  header .material-icons {
    font-size: 50px;
    align-self: center;
    margin-left: 25px; }
  header h3 {
    font-size: 2rem;
    justify-self: center;
    margin-right: 20%; }

.navigator main {
  border-style: solid;
  height: 100%; }
.navigator article {
  background-color: blue;
  display: flex;
  justify-content: center;
  padding-top: 4%; }
  .navigator article .linkbox {
    width: 88%;
    height: 92%;
    background-color: red; }

.Ledare main {
  display: grid;
  width: 100%;
  grid-template-rows: 40vh auto;
  padding-top: 20px; }
  .Ledare main article {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; }
    .Ledare main article .ledarbox {
      height: 180px;
      width: 140px;
      border-style: solid;
      margin: 15px 0 0 0; }
    .Ledare main article .ledarbox:nth-child(2n) {
      margin-left: 15px; }
  .Ledare main .bigpic {
    height: 100%;
    width: 80vw;
    border-style: solid;
    justify-self: center; }

menu {
  background-color: black;
  height: 100vh;
  width: 60vw;
  position: fixed;
  left: -100vw;
  top: 0;
  transition: 1s;
  z-index: 999;
  margin: 0;
  display: flex;
  flex-direction: column; }
  menu a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin-top: 8vh; }

.shade {
  left: -100vw;
  z-index: 99;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s; }

.activate {
  left: 0; }
