body {
  min-height: 100vh;
  margin: 0;
  width: 100%; }

.wrapper {
  width: 100%; }
  .wrapper main {
    display: grid;
    grid-template-rows: 50vh 25vh 25vh 25vh;
    height: 100%; }

@media only screen and (min-width: 1224px) {
  .wrapper {
    width: 100%; }
    .wrapper .navigator main {
      display: grid;
      grid-template-rows: 80vh;
      grid-template-columns: 0% 33.3% 33.3% 33.3%;
      height: 100%; } }
.desktop {
  height: 0;
  visibility: hidden;
  margin: 0; }

header {
  background-color: aquamarine;
  height: 15vh;
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 20vw 80vw;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20; }
  header .material-icons {
    font-size: 50px;
    align-self: center;
    margin-left: 25px; }
  header h3 {
    font-size: 2em;
    align-self: center;
    margin: 0; }

.bigpic2 {
  visibility: hidden;
  height: 0; }

.thicc {
  font-weight: bold; }

.navigator .end {
  margin-top: 0; }

@media only screen and (min-width: 1224px) {
  header {
    height: 15vh;
    visibility: visible;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    justify-content: center;
    align-items: center;
    position: sticky !important;
    top: 0; }
    header a {
      font-family: 'ZCOOL XiaoWei', serif;
      margin-left: 3%;
      font-size: 1.4rem;
      justify-self: center;
      text-decoration: underline;
      padding: 0;
      border: 0; }
    header a:visited {
      color: black; }
    header h3 {
      margin: 10px;
      justify-self: center;
      padding: 0; }
    header a:hover {
      font-size: 1.5rem;
      transition: 0.2s;
      cursor: pointer; }

  .mobile {
    height: 0;
    visibility: hidden;
    margin: 0;
    position: absolute; }

  .desktop {
    height: 15vh;
    visibility: visible;
    display: flex; }

  .title {
    margin-right: 25%;
    font-size: 2em; }

  .bigpic2 {
    visibility: visible;
    height: 50vh;
    width: 100%; } }
.navigator {
  width: 100%; }
  .navigator main {
    height: 100%; }
  .navigator article > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }
    .navigator article > div .desktop {
      position: absolute; }
    .navigator article > div a {
      text-decoration: none; }
    .navigator article > div .territorie_link_background {
      height: 100%;
      width: 100%; }
    .navigator article > div .historia_link_background {
      height: 100%;
      width: 100%; }
    .navigator article > div .ledare_link_background {
      height: 100%;
      width: 100%; }

.linkbox {
  width: 88%;
  height: 92%; }

.Ledare main {
  display: grid;
  width: 100%;
  grid-template-rows: 40vh auto;
  padding-top: 20px; }
  .Ledare main article {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; }
    .Ledare main article h2 {
      width: 100%;
      margin-top: 15px; }
    .Ledare main article .ledarbox {
      height: 180px;
      width: 145px;
      margin: 15px 0 20px 0;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .Ledare main article .ledarbox h3 {
        margin: 0; }
    .Ledare main article .ledarbox:nth-child(2n) {
      margin-right: 5px; }
  .Ledare main .bigpic {
    height: 100%;
    width: 80vw;
    border-style: solid;
    justify-self: center; }

.tider {
  width: 100%; }
  .tider main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto; }
    .tider main article {
      width: 100%; }
      .tider main article .historiabild {
        height: 80vh;
        width: 100%; }
      .tider main article .forord {
        height: auto;
        width: 100%; }
      .tider main article .begynnelse {
        height: auto;
        width: 100%; }
      .tider main article .forntiden {
        height: auto;
        width: 100%; }
      .tider main article .medeltiden {
        height: auto;
        width: 100%; }
      .tider main article .modern_tid {
        height: auto;
        width: 100%; }

.end {
  margin-bottom: 0; }

.intropic {
  text-align: center; }
  .intropic h3 {
    margin: 0;
    font-size: 3em;
    padding-top: 10vh;
    color: white; }

.territorie {
  width: 100%;
  height: auto; }
  .territorie main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    height: auto; }
    .territorie main article {
      height: auto;
      width: 100%; }
      .territorie main article .karta {
        width: 100%;
        height: 85vh; }
    .territorie main article {
      width: 100%; }
      .territorie main article .stader {
        width: 100%;
        height: 100vh; }

@media only screen and (min-width: 1224px) {
  .navigator {
    width: 100%; }
    .navigator article > div {
      height: 100vh;
      display: flex;
      align-items: center;
      flex-direction: column; }
    .navigator article > div > a > div > div {
      height: 0;
      visibility: hidden; }
    .navigator article > div > a {
      height: 400px !important;
      margin-bottom: 75px; }
    .navigator article > div > h3 {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      align-items: center;
      justify-content: center; }
    .navigator main .bigpic {
      visibility: hidden;
      height: 0; }

  .Ledare main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-rows: 45vh auto;
    height: auto;
    justify-content: center;
    align-items: center; }
    .Ledare main article {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      text-align: left !important;
      margin: 5px;
      margin-left: 35px; }
      .Ledare main article h2 {
        margin: 0; }
      .Ledare main article .ledarbox {
        padding: 5px;
        margin: 0; }
        .Ledare main article .ledarbox h3 {
          margin: 0px; }
      .Ledare main article .ledarbox:nth-child(2n) {
        margin-left: 0px; }
    .Ledare main article:nth-child(2n) {
      grid-row: span 2;
      margin-right: 60px;
      width: 70%; }
    .Ledare main .bigpic {
      justify-self: flex-start;
      margin-left: 40px;
      width: 600px !important;
      height: 240px !important; }

  .tider main {
    height: auto;
    display: grid;
    grid-template-rows: 60vh auto auto;
    grid-template-columns: 25% 25% 25% 25%; }
    .tider main article {
      align-items: flex-start; }
      .tider main article div {
        margin: 0; }
        .tider main article div .text_background {
          top: -5vh !important;
          height: 15vh;
          margin: 0; }
    .tider main .modern {
      grid-column: span 1; }
    .tider main .banner {
      grid-column: span 4; }

  .territorie main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%; }
    .territorie main .stader {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      height: 100vh !important; }
      .territorie main .stader h2 {
        width: 35%;
        margin: 0;
        padding: 0; }
    .territorie main .karta {
      height: 100vh !important; } }
menu {
  background-color: black;
  height: 100vh;
  width: 60vw;
  position: fixed;
  left: -100vw;
  top: 0;
  transition: 1s;
  z-index: 999;
  margin: 0;
  display: flex;
  flex-direction: column; }
  menu a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    margin-top: 8vh; }

.shade {
  left: -100vw;
  z-index: 99;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s; }

.activate {
  left: 0; }

.bigpic .intropic {
  background-image: url("../IMG/Mobil banner 1.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat; }
.bigpic .ledare_banner {
  background-image: url("../IMG/Kattknug.png");
  height: 100%;
  width: 100%;
  background-size: cover; }

.modern .ledarbox > div {
  background-image: url("../IMG/Mobil_president.png");
  background-size: cover;
  height: 80%;
  width: 100%; }

.gammal .ledarbox > div {
  background-image: url("../IMG/Mobil_katt_artur.png");
  background-size: cover;
  height: 80%;
  width: 100%; }

main article .historia_link_background {
  background-image: url("../IMG/Background_history_mobile.png");
  background-size: cover; }
  main article .historia_link_background .linkbox .historia_link {
    background-image: url("../IMG/Cat_history_mobile.png");
    width: 100%;
    height: 100%;
    background-size: cover; }
main article .territorie_link_background {
  background-image: url("../IMG/Mobile_territorie_background.png");
  background-size: cover; }
  main article .territorie_link_background .linkbox .territorie_link {
    background-image: url("../IMG/Caste_cat_mobile.png");
    width: 100%;
    height: 100%;
    background-size: cover; }
main article .ledare_link_background {
  background-image: url("../IMG/ledare_backgrund_mobil.png");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5); }
  main article .ledare_link_background .linkbox .ledare_link {
    background-image: url("../IMG/Mobil_ledare.png");
    width: 100%;
    height: 100%;
    background-size: cover; }

.linkbox > div {
  display: flex; }

.Ledare main {
  background-color: rgba(0, 0, 0, 0.3); }

.text_background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 40px;
  align-self: flex-end;
  display: flex;
  justify-content: center; }
  .text_background a {
    text-decoration: none; }
  .text_background h3 {
    align-self: center;
    text-decoration: none;
    color: white;
    font-size: 2rem !important; }

.tider main .historiabild {
  background-image: url("../IMG/Lutzen_mobile.png") !important;
  background-size: cover; }
.tider main article > div {
  background-image: url("../IMG/Lutzen_mobile2.png");
  background-size: cover; }
  .tider main article > div .text_background {
    height: 80px;
    align-self: flex-start;
    position: relative;
    top: -40px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.9); }
    .tider main article > div .text_background h3 {
      padding: 0; }
  .tider main article > div h3 {
    font-size: 1.5rem;
    padding: 0px 40px 100px 40px;
    align-self: center;
    color: azure; }

.territorie main article > div {
  background-image: url("../IMG/duck.jpg");
  display: flex;
  justify-content: flex-start;
  flex-direction: column; }
  .territorie main article > div .text_background {
    height: 60px;
    align-self: flex-start;
    background-color: rgba(0, 0, 0, 0.7); }
  .territorie main article > div h2 {
    margin: 20px auto 20px auto;
    padding-top: 50px;
    color: azure; }

@media screen and (min-width: 1000px) {
  .bigpic2 {
    background-image: url("../IMG/Catpoleon_banner2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0; }

  .territorie_link {
    background-image: url("../IMG/Bakgrund_territorie_desktop.png") !important;
    background-size: cover; }

  .historia_link {
    background-image: url("../IMG/Cat_history_mobile.png") !important;
    background-size: cover; }

  .ledare_link {
    background-image: url("../IMG/Kattknug_desktop.png") !important;
    background-size: cover; }

  .tider main article .historiabild {
    background-image: url("../IMG/Catopoleon2_2_historia.png") !important;
    background-size: cover; }

  .karta {
    background-image: url("../IMG/Map.png") !important;
    background-size: cover; }

  .stader {
    background-image: url("../IMG/Karta.png") !important;
    background-size: cover; } }
