<header>
    
    
    <i class="material-icons" onclick = "doStuff()">
        menu
    </i>
    <h3> Hem </h3>
    
</header>
<div class = navigator> 
    
    <main>
        <div class = bigpic>
            <div class = intropic>
                
                
            </div>
        </div>
        
        <article>
            
            <div class = ledare_link_background >
                <a class = linkbox href = "page1.html">
                    <div class = "ledare_link" >
                        
                        <div class = text_background>
                            <h3>LEDARE</h3>
                        </div>
                    </div>
                    
                </a>
            </div>
            
        </article>
        
        <article>
            <div class = historia_link_background>
                <a class = linkbox href = "page2.html">
                    
                    <div class = "historia_link">
                        <div class = text_background>
                            <h3>HISTORIA</h3>
                        </div>
                        
                        
                    </div>
                </a>
            </div>
        </article>
        
        
        
        <article>
            <div class = territorie_link_background>
                <a class = linkbox href = "page3.html">
                    <div class = "territorie_link">
                        <div class = text_background>
                            <h3>TERRITORIE</h3>
                        </div>
                        
                        
                        
                    </div>
                </a>
            </div>
        </article>
        
    </main>
</div>