<header>
    
    
    <i class="material-icons" onclick = "doStuff()">
        menu
    </i>
    <h3> Hem </h3>
    
</header>
<div class = navigator> 
    
    <main>
        <div class = bigpic>
            <div class = intropic>
                
                
            </div>
        </div>
        
        <article>
            <div class = ledare_link_background>
                <div class = linkbox>
                    <div class = ledare_link>
                        
                        <div class = text_background>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </article>
        
        <article>
            <div class = historia_link_background>
                <div class = linkbox>
                    <div class = historia_link>
                        
                    </div>
                    <div class = text_background>

                    </div>
                </div>
            </div>
        </article>
        
        <article>
            <div class = territorie_link_background>
                <div class = linkbox>
                    <div class = territorie_link>
                        
                    </div>

                    <div class = text_background>
                        
                    </div>
                </div>
            </div>
        </article>

    </main>
</div>