<header>
    

        <i class="material-icons" onclick = "doStuff()">
                menu
        </i>
    <h3> Hem </h3>

</header>
<div class = navigator> 
    
    <main>
        <div class = bigpic></div>
        <article>
            <div class = linkbox></div>
        </article>
        <article>
                <div class = linkbox></div>
        </article>
        <article>
                <div class = linkbox></div>
        </article>
    </main>
</div>