<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="CSS/main.css">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>

</head>

<body>
    



    <div class = wrapper>
<menu .mobile>
<a href = "index.html"> Hem </a>
<a href = "page1.html"> Ledarskap </a>
<a href = "page2.html"> Historia </a>
<a href = "page3.html"> Territorie </a>

</menu>
<div class = "shade" onclick = "doStuff()"> </div>

            <%= yield %>
        
    </div>
    <script src="js/main.js"></script>
</body>

</html>