<header>
    

        <i class="material-icons" onclick = "doStuff()">
                menu
        </i>
    <h3> Historia </h3>

</header>

<div class = tider>
        <main>
                <article>
                        <div class = historiabild>
                        </div>
                </article>

                <article>
                        <div class = forord>
                        </div>
                </article>

                <article>
                        <div class = begynnelse >
                        </div>
                </article>

                <article>
                        <div class = forntiden >
                        </div>
                </article>

                <article>
                        <div class = medeltiden >
                        </div>
                </article>

                <article>
                        <div class = modern_tid >
                        </div>
                </article>



        </main>

</div>