<header class = mobile>
    
    
    <i class="material-icons" onclick = "doStuff()">
        menu
    </i>
    <h3> Territorie </h3>
    
</header>

<header class = desktop>
    
        <h3 href = "index.html" class = "title"> Katternas rike</h3> <a href = "index.html"> Hem </a> <a href = "page1.html"> Ledarskap </a> <a href = "page2.html"> Historia </a> <a href = "page3.html"  class = "thicc"> Territorie </a> 
        
    </header>
<div class = territorie>
        <main>
                <article>
                        <div class = karta>
                                        <div class = text_background>
                                        <h3>Karta</h3>
                                                </div>
                        </div>
                </article>

                <article>
                        <div class = stader>
                                        <div class = text_background>
                                        <h3>Städer</h3>
                                                </div>
                                <h2>STAD</h2>
                                <h2>STAD</h2>
                                <h2>STAD</h2>
                                <h2>STAD</h2>
                                <h2>STAD</h2>

                        </div>
                </div>
                </article>
        </main>


</div>