<header>
    

        <i class="material-icons" onclick = "doStuff()">
                menu
        </i>
    <h3> Territorie </h3>

</header>

<div class = territorie>
        <main>
                <article>
                        <div class = karta>
                                
                        </div>
                </article>

                <article>
                        <div class = stader>

                        </div>
                </div>

        </main>


</div>