<header>
    
    
    <i class="material-icons" onclick = "doStuff()">
        menu
    </i>
    <h3> Ledarskap </h3>
    
</header>

<div class = "Ledare">
    <main>
        <div class = bigpic>
            <div class = ledare_banner> </div>
        </div>
        
        <article>
            <div class = "ledarbox">
                <h3> Karl Von Kattsburg</h3>
                <div class = ledare1> </div>
            </div>
            
            <div class = "ledarbox">
                    <h3> Karl Von Kattsburg</h3>
                    <div class = ledare2> </div>
            </div>
            
            <div class = "ledarbox">
                    <h3> Karl Von Kattsburg</h3>
                    <div class = ledare3> </div>
            </div>
            
            <div class = "ledarbox">
                    <h3> Karl Von Kattsburg</h3>
                    <div class = ledare4> </div>
            </div>
            
            <div class = "ledarbox">
                    <h3> Karl Von Kattsburg</h3>
                    <div class = ledare5> </div>
            </div>
            
            <div class = "ledarbox">
                    <h3> Karl Von Kattsburg</h3>
                    <div class = ledare6> </div>
            </div>
        </article>
    </main>
</div>