<header>
        
        
        <i class="material-icons" onclick = "doStuff()">
                menu
        </i>
        <h3> Historia </h3>
        
</header>

<div class = tider>
        <main>
                <article>
                        <div class = historiabild>
                                <div class = text_background>
                                                
                                </div>
                                
                        </div>
                </article>
                
                <article>
                        <div class = forord>
                                <div class = text_background>
                                        <h3>Förord</h3>
                                </div>
                                <h3> Repellat saepe dolorem alias ex consectetur fugit quibusdam. Perferendis modi sed tenetur ut iste et neque ullam. In et ullam harum veritatis minus qui beatae veniam. Quas beatae dolores voluptatem quos. Quia officia inventore ut dolore totam voluptas.…
                                        </h3>
                        </div>
                </article>
                
                <article>
                        <div class = begynnelse >
                                <div class = text_background>
                                        <h3>Begynnelsen</h3>
                                </div>
                                <h3> Repellat saepe dolorem alias ex consectetur fugit quibusdam. Perferendis modi sed tenetur ut iste et neque ullam. In et ullam harum veritatis minus qui beatae veniam. Quas beatae dolores voluptatem quos. Quia officia inventore ut dolore totam voluptas.…
                                        </h3>
                        </div>
                </article>
                
                <article>
                        <div class = forntiden >
                                <div class = text_background>
                                        <h3>Forntiden</h3>
                                </div>
                                <h3> Repellat saepe dolorem alias ex consectetur fugit quibusdam. Perferendis modi sed tenetur ut iste et neque ullam. In et ullam harum veritatis minus qui beatae veniam. Quas beatae dolores voluptatem quos. Quia officia inventore ut dolore totam voluptas.…
                                </h3>
                        </div>
                </article>
                
                <article>
                        <div class = medeltiden >
                                <div class = text_background>
                                        <h3>Medeltiden</h3>
                                </div>
                                <h3> Repellat saepe dolorem alias ex consectetur fugit quibusdam. Perferendis modi sed tenetur ut iste et neque ullam. In et ullam harum veritatis minus qui beatae veniam. Quas beatae dolores voluptatem quos. Quia officia inventore ut dolore totam voluptas.…
                                        </h3>
                        </div>
                </article>
                
                <article>
                        <div class = modern_tid >
                                <div class = text_background>
                                        <h3>Modern tid</h3>
                                </div>
                                <h3> Repellat saepe dolorem alias ex consectetur fugit quibusdam. Perferendis modi sed tenetur ut iste et neque ullam. In et ullam harum veritatis minus qui beatae veniam. Quas beatae dolores voluptatem quos. Quia officia inventore ut dolore totam voluptas.…
                                        </h3>
                        </div>
                </article>
                
                
                
        </main>
        
</div>