<header>
    
    
    <i class="material-icons" onclick = "doStuff()">
        menu
    </i>
    <h3> Ledarskap </h3>
    
</header>

<div class = "Ledare">
    <main>
        <div class = bigpic>
            
        </div>
        
        <article>
            <div class = "ledarbox">
            </div>
            
            <div class = "ledarbox">
            </div>
            
            <div class = "ledarbox">
            </div>
            
            <div class = "ledarbox">
            </div>
            
            <div class = "ledarbox">
            </div>
            
            <div class = "ledarbox">
            </div>
        </article>
    </main>
</div>