.desktop{
    height: 0;
    visibility: hidden;
    margin: 0;
}
header{
    background-color: aquamarine;
    height: 15vh;
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 20vw 80vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
        .material-icons{
        font-size: 50px;
        align-self: center;
        margin-left: 25px;
        }

        h3{
            font-size: 2em;
            align-self: center;
            margin: 0;

            
        }
}

.bigpic2{
    visibility: hidden;
    height: 0;
}

.thicc{
    font-weight: bold;
}

.navigator{
    .end{
        margin-top: 0;
    }
}

@media only screen and (min-width: 1224px) {

    header{
        height: 15vh;
        visibility: visible;
        width: 100%;
        display: grid;
        grid-template-columns: 60% 10% 10% 10% 10%;
        justify-content: center;
        align-items: center;
        position: sticky !important;
        top: 0;
        
        a{
            font-family: 'ZCOOL XiaoWei', serif;
            margin-left: 3%;
            font-size: 1.4rem;
            justify-self: center;
            text-decoration: underline;
            padding: 0;
            border: 0;
        }
        a:visited{
            color: black;
        }
        h3{
            margin: 10px;
            justify-self: center;
            padding: 0;
        }
        a:hover{
            font-size: 1.5rem;
            transition: 0.2s;
            cursor: pointer;
        }



    }
    .mobile{
        height: 0;
        visibility: hidden;
        margin: 0;
        position: absolute;
    }

    .desktop{
        height: 15vh;
        visibility: visible;
        display: flex;
    }
    .title{
        margin-right: 25%;
        font-size: 2em;
    }

    .bigpic2{
        visibility: visible;
        height: 50vh;
        width: 100%;

    }
}

    

