header{
    background-color: aquamarine;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
        .material-icons{
        font-size: 50px;
        margin: 3vh auto auto 15px;
        }
}

