header{
    background-color: aquamarine;
    height: 15vh;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 80%;
    position: sticky;
    top: 0;
        .material-icons{
        font-size: 50px;
        align-self: center;
        margin-left: 25px;
        }
        h3{
            font-size: 2rem;
            justify-self: center;
            margin-right: 20%;
            
        }
}