.bigpic{
    .intropic{
        background-image: url("../IMG/Mobil\ banner\ 1.jpg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .ledare_banner{
            background-image: url("../IMG/Kattknug.jpg");
            height: 100%;
            width: 100%;
            background-size: cover;
        }
}

.modern{
    .ledarbox > div{
        background-image: url("../IMG/Mobil_president.jpg");
        background-size: cover;
        height: 80%;
        width: 100%;
    }
}

.gammal{
    .ledarbox > div{
        background-image: url("../IMG/Mobil_katt_artur.jpg");
        background-size: cover;
        height: 80%;
        width: 100%;
    }
}

main{
    article{
        

        .historia_link_background{
            background-image: url("../IMG/Background_history_mobile.jpg");
            background-size: cover;
            .linkbox{
                .historia_link{
                    background-image: url("../IMG/Cat_history_mobile.jpg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    

                }
            }
        }
          .territorie_link_background{
            background-image: url("../IMG/Mobile_territorie_background.jpg");
            background-size: cover;
            .linkbox{
                .territorie_link{
                    background-image: url("../IMG/Bohus.jpg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
        }
    }
}

          .ledare_link_background{
            background-image: url("../IMG/ledare_backgrund_mobil.jpg");
            background-size: cover;
            background-color: rgba($color: #000000, $alpha: 0.5);
            .linkbox{
                
                .ledare_link{
                    background-image: url("../IMG/Mobil_ledare.jpg");
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    
        }
    }
}

        
    }
    
}

.linkbox > div{
    display: flex;
}

.Ledare{
    main{
        background-color: rgba($color: #000000, $alpha: 0.3)
    }
}

.text_background{
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 40px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    a{
        text-decoration: none;
    }
    h3{
        align-self: center;
        text-decoration: none;
        color: white;
        font-size: 2rem !important; 
        
    }

}


.tider{
    main{
        .historiabild{
            background-image: url("../IMG/Lutzen_mobile.jpg") !important;
            background-size: cover;
        }

        
        article > div{
            background-image: url("../IMG/Lutzen_mobile2.jpg");
            background-size: cover;
            .text_background{
                height: 80px;
                align-self: flex-start;
                position: relative;
                top: -40px;
                z-index: 0;
                background-color: rgba($color: #000000, $alpha: 0.9);
                h3{
                    padding: 0;
                    margin: 0;
                }

            }

            h3{
                font-size: 1.5rem;
                padding: 0px 40px 100px 40px;
                align-self: center;
                color: azure;

            }

        }

    }
}

.tider{
    main{
        article{
            h3{
                margin: 0;
            }
        }
    }
}

.forord{
    h3{
        margin: 0;
    }
}


.territorie{
    main{
        .karta{
            background-image: url("../IMG/map_mobile.jpg");
            background-size: cover;
        }

        .stader{
            background-image: url("../IMG/stad2.jpg");
            background-size: cover;

        }
        article > div{
            background-image: url("../IMG/duck.jpg");
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            .text_background{
                height: 60px;
                align-self: flex-start;
                background-color: rgba($color: #000000, $alpha: 0.7);
            }
            h2{
                margin: 20px auto 20px auto;
                padding-top: 50px;
                color: azure;
            }
        }
    }
}





@media screen and (min-width: 1000px) {
    .bigpic2{
    background-image: url("../IMG/Catpoleon_banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

.territorie_link{
    background-image: url("../IMG/Bakgrund_territorie_desktop.jpg") !important;
    background-size: cover;
}

.historia_link{
    background-image: url("../IMG/Cat_history_mobile.jpg") !important;
    background-size: cover;
}

.ledare_link{
    background-image: url("../IMG/Kattknug_desktop.jpg") !important;
    background-size: cover;
}

.tider{
    main{
        article{
            
                .historiabild{
                background-image: url("../IMG/Catopoleon2_2_historia.jpg") !important;
                background-size: cover;
            }
            
        }
    }
}

    .karta{
        background-image: url("../IMG/Map.jpg") !important;
        background-size: cover;
    }

    .stader{
        background-image: url("../IMG/Karta.jpg") !important;
        background-size: cover;
    }
}