body{
    min-height: 100vh;
    margin: 0;
    width: 100vw;
}

.wrapper{
    width: 100vw;
    main{
    display: grid;
    grid-template-rows: 50vh 25vh 25vh 25vh;
    height: 100%;

}

}


@media screen and (min-width: 700px) {
    
    .wrapper{
        width: 100vw;
        .navigator{
        main{
        display: grid;
        grid-template-rows: 80vh;
        grid-template-columns: 0vw 33.3vw 33.3vw 33.3vw;
        height: 100%;
        
    }
    }
}
   }

