.navigator{
    main{
    border-style: solid;
    height: 100%;
    }
    article{
        background-color: blue;
        display: flex;
        justify-content: center;
        padding-top: 4%;
        .linkbox{
            width: 88%;
            height: 92%;
            background-color: red;
        }
    }
    
}