.navigator{

    main{
        height: 100%;
    }
    article > div{
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        a{
            text-decoration: none;
        }
        .territorie_link_background{
            height: 100%;
            width: 100%;

        }
        .historia_link_background{
            height: 100%;
            width: 100%;

        }
        
        .ledare_link_background{
            height: 100%;
            width: 100%;
        }
        
    }

    
}

.linkbox{
    width: 88%;
    height: 92%;
    //background-color: red;
}



.Ledare{
    main{
        display: grid;
        width: 100%;
        grid-template-rows: 40vh auto;
        padding-top: 20px;
        
        article{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            
            .ledarbox{
                height: 180px;
                width: 145px;
                margin: 15px 0 20px 0;
                display: flex;
                flex-direction: column;
                text-align: center;
                
                
                h3{
                    margin: 0;      
                                

                }
            }
            .ledarbox:nth-child(2n){
                margin-left: 15px;
            }
        }
        .bigpic{
            height: 100%;
            width: 80vw;
            border-style: solid;
            justify-self: center;
        }
    }
    
}



.tider{
    width: 100%;
    main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;

        article{
            width: 100%;
            .historiabild{
                border-style: solid;
                height: 80vh;
                width: 100%;
            }
            
            .forord{
                border-style: solid;
                height: auto;
                width: 100%;
            }

            .begynnelse{
                border-style: solid;
                height: auto;
                width: 100%;
            }
            .forntiden{
                border-style: solid;
                height: auto;
                width: 100%;  
            }

            .medeltiden{
                border-style: solid;
                height: auto;
                width: 100%;
            }

            .modern_tid{
                border-style: solid;
                height: auto;
                width: 100%;
            }


        }
    }
}

.territorie{
    width: 100%;
    height: auto;
    main{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        height: auto;

        article{
            height: auto;
            width: 100%;
            .karta{
                width: 100%;
                border-style: solid;
                height: 85vh;
            }
        }
        article{
            width: 100%;
            .stader{
                width: 100%;
                border-style: solid;
                height: 100vh;
            }
        }
    }

}